html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 48px;
  color: white;
}

h2 {
  font-size: 24px;
  color: white;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
}

a {
  color: #0099ff;
  text-decoration: none;
  padding: 0 20px;
}

a:hover {
  text-decoration: underline;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80;
  display: flex;
}

header img {
  height: 60px;
  display: block;
  aligh: left;
  margin: 10 10;
}

body {
  height: 125vh;
  margin-top: 80px;
  padding: 30px
}

header * {
  display: inline;
}
